numpy==1.18.5
pandas==1.0.4
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-table==4.7.0
tokenizers==0.7.0
https://download.pytorch.org/whl/cpu/torch-1.2.0%2Bcpu-cp36-cp36m-manylinux1_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
transformers==2.11.0
gunicorn
